<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Wedsite ShopGaming</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="shortcut icon" type="image/png" href="assets/images/icon/favicon.ico">-->
    <link rel="stylesheet" href="~/Contents_Custom/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Contents_Custom/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Contents_Custom/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/Contents_Custom/assets/css/metisMenu.css">
    <link rel="stylesheet" href="~/Contents_Custom/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Contents_Custom/assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="~/Contents_Custom/assets/css/typography.css">
    <link rel="stylesheet" href="~/Contents_Custom/assets/css/default-css.css">
    <link rel="stylesheet" href="~/Contents_Custom/assets/css/styles.css">
    <link rel="stylesheet" href="~/Contents_Custom/assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="~/Contents_Custom/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
                <div class="col-lg-4">
                    <a href="~/Home/Index" class="text-decoration-none">
                        <span class="h3 text-uppercase text-warning bg-black px-2" style="background-color:black;">LTN</span>
                        <span class="h3 text-uppercase text-dark bg-warning  px-2 " style="margin-left: -0.25rem !important;">Gaming</span>
                    </a>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <script src="~/Contents_Custom/assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="~/Contents_Custom/assets/js/popper.min.js"></script>
    <script src="~/Contents_Custom/assets/js/bootstrap.min.js"></script>
    <script src="~/Contents_Custom/assets/js/owl.carousel.min.js"></script>
    <script src="~/Contents_Custom/assets/js/metisMenu.min.js"></script>
    <script src="~/Contents_Custom/assets/js/jquery.slimscroll.min.js"></script>
    <script src="~/Contents_Custom/assets/js/jquery.slicknav.min.js"></script>

    <!-- others plugins -->
    <script src="~/Contents_Custom/assets/js/plugins.js"></script>
    <script src="~/Contents_Custom/assets/js/scripts.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>
