@model IEnumerable<Wed_ShopGaming.ViewModels.ListUserViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row p-2">
    <div class="col-lg-7">
        <table class="table">
            <tr>
                <th>Tên Người Dùng</th>
                <th>Vai Trò</th>
                <th>Tác Vụ</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td> @item.User.UserName</td>
                    <td> @item.NameRole</td>
                    <td> @Html.ActionLink("Xóa","Delete", new { id = item.User.Id })</td>
                </tr>
            }
        </table>
    </div>
</div>

