@{
    ViewBag.Title = "CheckOut";
    Wed_ShopGaming.Models.ApplicationUser user = ViewBag.User;
}


<!-- Checkout Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-7">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Thong Tin Giao Hang</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label>Ten</label>
                        <label class="form-control disabled" type="text" >@user.UserName</label>
                    </div>
                    <div class="col-md-12 form-group">
                        <label>E-mail</label>
                        <label class="form-control" type="text" placeholder="">@user.Email</label>
                    </div>
                    <div class="col-md-12 form-group">
                        <label>So Dien Thoai</label>
                        <label class="form-control" type="text" placeholder="">@user.PhoneNumber</label>
                    </div>
                    <div class="col-md-12 form-group">
                        <label>Dia Chi</label>
                        <label class="form-control" type="text" placeholder="">@user.Email</label>
                    </div>
                </div>
            </div>
            <div class="mb-5">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Hinh Thuc Thanh Toan</span></h5>
                <div class="bg-light p-30">
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="paypal">
                            <label class="custom-control-label" for="paypal">Paypal</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="directcheck">
                            <label class="custom-control-label" for="directcheck">Thanh Toan Khi Nhan Hang</label>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                            <label class="custom-control-label" for="banktransfer">MOMO</label>
                        </div>
                    </div>
                    <button class="btn btn-block btn-primary font-weight-bold py-3">Place Order</button>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Tổng số đơn đặt hàng</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom">
                    <h6 class="mb-3">Products</h6>
                    <div class="d-flex justify-content-between">
                        <p>Product Name 1</p>
                        <p>$150</p>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Tong Tien</h5>
                        <h5>$160</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Checkout End -->
