@model IEnumerable<Wed_ShopGaming.Models.Entity.SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="p-3 ">
        <h3 class="">LapTop</h3>
    </div>
    <div>
        @Html.Partial("LapTopView")
    </div>
    <div class="p-3 ">
        <h3 class="">May Tinh</h3>
    </div>
    <div>

    </div>
    <div class="p-3 ">
        <h3 class="">Linh Kien</h3>
    </div>
    <div>

    </div>
</div>

