@model Wed_ShopGaming.ViewModels.PagingSPViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var ViewModel = Wed_ShopGaming.DTO.PageDTO.paging;
}

<div>
    <div class="p-3 ">
        <h3 class="">LapTop</h3>
    </div>
    <div>
        @Html.Partial("LapTop_Partial", Model)
    </div>
    <div class="p-3 ">
        <h3 class="">May Tinh</h3>
    </div>
    <div>

    </div>
    <div class="p-3 ">
        <h3 class="">Linh Kien</h3>
    </div>
    <div>

    </div>
</div>

